
<h3>Información del Vendedor</h3>

<div>Nickname: <a ng-href="{{sellerData.permalink}}"> {{sellerData.nickname}}</a></div>
<div>Puntos: {{sellerData.points}}</div>

<div>
  <div><h4>Productos</h4></div>
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in productsList">
        <td>{{product.title}}</td>
        <td>{{product.price | currency:$}}</td>
        <td><a ng-href="{{product.permalink}}" target="_blank"><img ng-src="{{product.thumbnail}}"></a></td>
      </tr>
    </tbody>
  </table>

</div>
